## Web Scrapping
## Que  8-10

## 9. Write a python program to scrape fresher job listings from ‘https://internshala.com/’. It should include job title,company name, CTC, and apply date.

In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [ ]:
page = requests.get('https://internshala.com/fresher-jobs')
page

In [ ]:
soup = BeautifulSoup(page.content)
soup

In [ ]:
# scrap job title
job_titles = []
job_title = soup.find_all('div',class_='heading_4_5 profile')
for i in job_title:
    job_titles.append(i.text.replace('\n',''))
job_titles

In [ ]:
len(job_titles)

In [ ]:
# scrap company name
company_names = []
company_name = soup.find_all('div',class_='heading_6 company_name')
for i in company_name:
    company_names.append(i.text.replace('\n',''))
company_names

In [ ]:
len(company_names)

In [ ]:
# scrap CTC
ctc = []
ctc_1 = soup.find_all('div',class_='item_body')
for i in ctc_1:
    ctc.append(i.text.replace('\n',''))
ctc

In [ ]:
CTC = []
for i in range(1,len(ctc),3):
    CTC.append(ctc[i].strip())
CTC

In [ ]:
# scrap apply date
apply_date = []
for i in range(2,len(ctc),3):
    apply_date.append(ctc[i].strip())
apply_date

In [ ]:
len(apply_date)

In [ ]:
# store data
data = pd.DataFrame()
data['Job Title'] = job_titles
data['Company Name'] = company_names
data['CTC'] = CTC
data['Apply Date'] = apply_date

In [ ]:
data

## 10.  Write a python program to scrape house details from https://www.nobroker.in/ for any location. It should include house title, location, area, emi and price

In [ ]:
page = requests.get('https://www.nobroker.in/property/sale/pune/multiple?searchParam=W3sibGF0IjoxOC41NTM4MjQxLCJsb24iOjczLjk0NzY2ODksInBsYWNlSWQiOiJDaElKbGFTTEtNUER3anNSU2dCak9tRXo2RGciLCJwbGFjZU5hbWUiOiJLaGFyYWRpIiwic2hvd01hcCI6ZmFsc2V9LHsibGF0IjoxOC41ODYyMTUsImxvbiI6NzMuNzM1MjQ4LCJwbGFjZUlkIjoiQ2hJSjdTemtiLWk3d2pzUmZobFVfMkdCNEdNIiwicGxhY2VOYW1lIjoiSGluamV3YWRpIFBoYXNlIDEiLCJzaG93TWFwIjpmYWxzZX0seyJsYXQiOjE4LjUxNDk2NjMsImxvbiI6NzMuODc3ODc5OSwicGxhY2VJZCI6IkNoSUpyUlV5d2h6Qndqc1JPaDc3cjJDMHhyNCIsInBsYWNlTmFtZSI6IkNhbXAgUHVuZSIsInNob3dNYXAiOmZhbHNlfV0=')
page

In [ ]:
soup = BeautifulSoup(page.content,'html.parser')
print(soup.prettify)

In [ ]:
# scrap details first
info = []
info_1 = soup.find_all('div',class_='font-semi-bold heading-6')
for i in emi_1:
    info.append(i.text.replace('\n',''))
info

In [ ]:
# scrap emi
emi = []
for i in range(1,len(info),3):
    emi.append(info[i].strip())
emi

In [ ]:
len(emi)

In [ ]:
# scrap price
price = []
for i in range(2,len(info),3):
    price.append(info[i].strip())
price

In [ ]:
len(price)

In [ ]:
# scrap area
area = []
for i in range(0,len(info),3):
    area.append(info[i].strip())
area

In [ ]:
len(area)

In [ ]:
# scrap location
locations = []
location = soup.find_all('div',class_='nb__2CMjv')
for i in location:
    locations.append(i.text.replace('\n',''))
locations

In [ ]:
len(locations)

In [ ]:
# scrap house title
house_title = []
house_n = soup.find_all('h2',class_='heading-6 font-semi-bold nb__1AShY')
for i in house_n:
    house_title.append(i.text.replace('\n',''))
house_title

In [ ]:
len(house_title)

In [ ]:
data = pd.DataFrame()
data['House Title'] = house_title 
data['Locations'] = locations 
data['Area'] = area
data['EMI'] = emi
data['Price'] = price
data

## 8. Write a python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended forecast display for the city. The data should include period, short description, temperature and description.

In [ ]:
# Extended Forecast for San Francisco CA
page = requests.get('https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996')
page

In [ ]:
soup = BeautifulSoup(page.content)
soup

In [ ]:
# Scrap period
period = []
period_1 = soup.find_all('p',class_='period-name')
for i in period_1:
    period.append(i.text.replace('\n',''))
period

In [ ]:
len(period)

In [ ]:
# scrap short desc
short_desc = []
short_d = soup.find_all('p',class_='short-desc')
for i in short_d:
    short_desc.append(i.text.replace('\n',''))
short_desc

In [ ]:
len(short_desc)

In [ ]:
# scrap temp
temperature = []
temp = soup.find_all('p',attrs={'short-desc'})
for i in temp:
    temperature.append(i.text.replace('\n',''))
temperature

In [ ]:
len(temperature)

In [ ]:
# description
description = []
despc = soup.find_all('div',class_='col-sm-10 forecast-text')
for i in despc:
    description.append(i.text.replace('\n',''))
description

In [ ]:
len(description)

In [91]:
data = pd.DataFrame()
data['Period'] = period
data['Short Description'] = short_desc
data['Temperature'] = temperature
data

          Period Short Description       Temperature
0          Today  DecreasingClouds  DecreasingClouds
1        Tonight  IncreasingClouds  IncreasingClouds
2         Friday  DecreasingClouds  DecreasingClouds
3    FridayNight  IncreasingClouds  IncreasingClouds
4       Saturday      Partly Sunny      Partly Sunny
5  SaturdayNight     Mostly Cloudy     Mostly Cloudy
6         Sunday      Mostly Sunny      Mostly Sunny
7    SundayNight     Partly Cloudy     Partly Cloudy
8         Monday      Mostly Sunny      Mostly Sunny

In [95]:
data1 = pd.DataFrame(description)
data1

                                                    0
0   Mostly cloudy, then gradually becoming sunny, ...
1   Increasing clouds, with a low around 56. West ...
2   Mostly cloudy, then gradually becoming sunny, ...
3   Increasing clouds, with a low around 56. South...
4   Partly sunny, with a high near 67. Southwest w...
5                Mostly cloudy, with a low around 56.
6                  Mostly sunny, with a high near 69.
7                Partly cloudy, with a low around 56.
8                  Mostly sunny, with a high near 68.
9                Partly cloudy, with a low around 55.
10                 Mostly sunny, with a high near 66.
11               Partly cloudy, with a low around 55.
12                 Mostly sunny, with a high near 66.

In [98]:
# as our len of every attribute is 9 so let's make description len 9.
d2 = data1.drop(data1.index[9:])
d2

                                                   0
0  Mostly cloudy, then gradually becoming sunny, ...
1  Increasing clouds, with a low around 56. West ...
2  Mostly cloudy, then gradually becoming sunny, ...
3  Increasing clouds, with a low around 56. South...
4  Partly sunny, with a high near 67. Southwest w...
5               Mostly cloudy, with a low around 56.
6                 Mostly sunny, with a high near 69.
7               Partly cloudy, with a low around 56.
8                 Mostly sunny, with a high near 68.

In [106]:
# add a description column
data['Description'] = d2
data

,Period,Short Description,Temperature,Description
0,Today,DecreasingClouds,DecreasingClouds,"Mostly cloudy, then gradually becoming sunny, ..."
1,Tonight,IncreasingClouds,IncreasingClouds,"Increasing clouds, with a low around 56. West ..."
2,Friday,DecreasingClouds,DecreasingClouds,"Mostly cloudy, then gradually becoming sunny, ..."
3,FridayNight,IncreasingClouds,IncreasingClouds,"Increasing clouds, with a low around 56. South..."
4,Saturday,Partly Sunny,Partly Sunny,"Partly sunny, with a high near 67. Southwest w..."
5,SaturdayNight,Mostly Cloudy,Mostly Cloudy,"Mostly cloudy, with a low around 56."
6,Sunday,Mostly Sunny,Mostly Sunny,"Mostly sunny, with a high near 69."
7,SundayNight,Partly Cloudy,Partly Cloudy,"Partly cloudy, with a low around 56."
8,Monday,Mostly Sunny,Mostly Sunny,"Mostly sunny, with a high near 68."